<!DOCTYPE html>
<html>
<head>
	<!-- Meta tags requeridos -->
	<meta charset="utf-8">	
	
	<link rel="stylesheet" type="text/css" href="../static/style.css">

	<title> Datos demográficos </title>
	
</head>
<body>

	<h1>Datos demográficos</h1>
	<br/>
	<p>Aplicación para acceder a la visualización de datos demográficos de España extraídos del INE.</p>
	<br/>
	<nav>
		<ul>
		<li><a href="#">Población total</a>
			<ul>
			<li><a href="totalpobbar">Gráfico de barras</a></li>
			<li><a href="totalpobmapa">Mapa</a></li>
			</ul>
		</li>
		<li><a href="#">Población de mujeres</a>
			<ul>
			<li><a href="mujpobbar">Gráfico de barras</a></li>
			<li><a href="mujpobmapa">Mapa</a></li>
			</ul>
		</li>
		<li><a href="#">Población de hombres</a>
			<ul>
			<li><a href="hompobbar">Gráfico de barras</a></li>
			<li><a href="hompobmapa">Mapa</a></li>
			</ul>
		</li>
		<li><a href="ambospobbar">Comparativa de población de hombres/mujeres</a></li>
		</ul>
	</nav>

</body>
</html> 
